@model ServerReservation.Models.Request

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsNewServer" /> @Html.DisplayNameFor(model => model.IsNewServer)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ServerId" class="control-label"></label>
                <select asp-for="ServerId" class ="form-control" asp-items="ViewBag.ServerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RequestedByEmployeeId" class="control-label"></label>
                <input asp-for="RequestedByEmployeeId" class="form-control" />
                <span asp-validation-for="RequestedByEmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestedByEmployeeName" class="control-label"></label>
                <input asp-for="RequestedByEmployeeName" class="form-control" />
                <span asp-validation-for="RequestedByEmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestedByUserId" class="control-label"></label>
                <select asp-for="RequestedByUserId" class ="form-control" asp-items="ViewBag.RequestedByUserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RequestJustification" class="control-label"></label>
                <input asp-for="RequestJustification" class="form-control" />
                <span asp-validation-for="RequestJustification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalStatus" class="control-label"></label>
                <input asp-for="ApprovalStatus" class="form-control" />
                <span asp-validation-for="ApprovalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedByEmployeeId" class="control-label"></label>
                <input asp-for="ApprovedByEmployeeId" class="form-control" />
                <span asp-validation-for="ApprovedByEmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedByEmployeeName" class="control-label"></label>
                <input asp-for="ApprovedByEmployeeName" class="form-control" />
                <span asp-validation-for="ApprovedByEmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedByUserId" class="control-label"></label>
                <select asp-for="ApprovedByUserId" class ="form-control" asp-items="ViewBag.ApprovedByUserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalComment" class="control-label"></label>
                <input asp-for="ApprovalComment" class="form-control" />
                <span asp-validation-for="ApprovalComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
